.container {
  padding: 1rem 2rem;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardActions {
  display: flex;
  justify-content: space-between;

  button {
    color: var(--orange);
  }
}
