.inputButtonContainer {
  max-width: 1440px;
  margin: 2rem auto;
  padding: 0 2rem;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  button {
    background-color: var(--orange);

    &:hover {
      background-color: var(--orange);
    }
  }
}


.cards {
  margin: 2rem auto;
  padding: 0 2rem;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  justify-items: center;
}

@media(max-width: 1370px) {
  .inputButtonContainer {
    > div {
      grid-template-columns: 1fr 1fr;
    }
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 1080px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 720px) {
  .inputButtonContainer {
    > div {
      grid-template-columns: 1fr;
    }
  }

  .cards {
    grid-template-columns: 1fr;

  }
}

@media(max-width: 360px) {
  .inputButtonContainer {
    > div {
      flex-direction: column;

      > div {
        margin-bottom: 1rem;
      }
    }
  }
}
